marker#child {
  fill: red;
}

g.node circle {
  fill: #509db7;
  stroke: #fff;
  stroke-width: 1.5px;
}

g.node.selected circle {
  fill: red;
  stroke-width: 1.5px;
}

g.node.selected_target circle {
  fill: pink;
  stroke-width: 1.5px;
}

g.node text, g.node a {
  pointer-events: none;
  font: 16px sans-serif;
}

line.link {
  stroke: #999;
  stroke-opacity: .8;
  stroke-width: 6px;
}

line.new_line {
  stroke: yellow;
  stroke-opacity: .8;
  stroke-width: 6px;
}

line.selected {
  stroke: red;
  stroke-opacity: 1;
}

rect {
 fill: white;
 opacity: 0.25;
} 

textarea#p {
  width: 600px; 
  height: 100px;
  color: red;
  display: none;
}

div#blockchain {
  display: none;
}

span#node_id {
  font-size: 18px;
  font-weight: bold;
}