<!-- base.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href=" {% static 'css/base.css'%}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/home.css'%}">
</head> 
<body>
    <div class="wrapper">
        <div class="container">
            <h1>{% block head %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>




